.box {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border: 1px solid gray;
}
.box > div {
  flex: 1;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.o {
  color: white;
  background-color: black;
}
.t {
  color: white;
  background-color: black;
}
.th {
  color: white;
  background-color: black;
}
.fo {
  color: white;
  background-color: black;
}
.fi {
  color: white;
  background-color: black;
}
