.box {
  display: flex;
  gap: 5px;
}

.box > div {
  border: 1px solid gray;
  border-radius: 20px;
  color: black;
  background-color: white;
  flex: 1;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;

  font-weight: bold;
}
.all {
}
.motel {
}
.hotel {
}
.full {
}
.camping {
}
.home {
}
.guest {
}
